p {
  border: 1px solid;
  padding: 1rem;

  width: 35%;
  height: 5rem;

  /*   display: inline-block; */
}

#visible {
  /* Por defecto */
  overflow: visible;
}

#hidden {
  overflow: hidden;
}

#auto {
  overflow: auto;
}

#scroll {
  /* overflow: scroll; */

  /* Se puede aplicar a cada eje */
  overflow-y: scroll;

  overflow-x: hidden;
}

article {
  margin-top: 5rem;
  border: 2px solid black;
  width: 10rem;
  height: 20rem;
  border-radius: 2rem;

  overflow: hidden;
}

img {
  width: 100%;
}
