* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: black;
  color: white;
  padding: 2rem;
  text-align: center;
}

main {
  position: relative;
}

p {
  background-color: rgba(255, 0, 0, 0.849);
  height: 8rem;
  width: 8rem;
  padding: 1rem;
  border: 1px solid;

  position: absolute;
}

p:nth-child(2) {
  background-color: rgba(255, 251, 0, 0.841);
  left: 4rem;
  top: 4rem;

  z-index: 2;
}

p:nth-child(3) {
  background-color: rgba(38, 255, 0, 0.847);
  left: 8rem;
  top: 8rem;

  z-index: 1;
}

p:nth-child(4) {
  background-color: rgba(0, 255, 221, 0.839);
  left: 12rem;
  top: 12rem;
}

p:nth-child(5) {
  background-color: rgba(0, 72, 255, 0.82);
  left: 16rem;
  top: 16rem;
}

p:nth-child(6) {
  background-color: rgba(162, 0, 255, 0.876);
  left: 20rem;
  top: 20rem;

  z-index: -1;
}

p:nth-child(7) {
  background-color: rgba(255, 0, 191, 0.887);
  left: 24rem;
  top: 24rem;

  z-index: -2;
}

p:nth-child(8) {
  background-color: rgba(255, 0, 17, 0.784);
  left: 28rem;
  top: 28rem;
}
