
# Archivos y directorios del sistema
.DS_Store
.Trash/
Library/
.CFUserTextEncoding
.bashrc
.bashrc.save
.bash_profile
.config/
.lesshst
.ssh/
.vscode/
.zsh_history
.zsh_sessions/
.zshrc

# Otros directorios y archivos no relacionados con el proyecto
/Applications/
/Desktop/
/Documents/
/Downloads/
/Library/
/Movies/
/Music/
/Pictures/
/Public/
# Archivos y directorios del sistema
.DS_Store
.Trash/
Library/
.CFUserTextEncoding
.bashrc
.bashrc_save
.bash_profile
.config/
.lesshst
.ssh/
.ssh_history
.ssh_sessions/
.zshrc
.zsh_sessions/

# Otros directorios y archivos no relacionados con el proyecto
/Library
/Aplicaciones
/Varios
/Captura de pantalla*.png
/Desktop/Bootcamp
/Downloads
/Movies
/Music
/Pictures
/Public

.Trash/
*.DS_Store # Ignorar archivos de sistema innecesarios en macOS
Library/
.Trash/
*.DS_Store
.vscode/
*.png
