* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: black;
  color: white;
  height: 8rem;

  display: flex;

  justify-content: center;
  align-items: center;
}

main {
  height: 50vh;
  border: 2px solid;

  display: grid;

  grid-template-columns: 100px 1fr 15rem;
  grid-template-rows: 150px 1fr 2fr;

  grid-template-areas:
    "rojo rojo amarillo"
    "magenta verde verde"
    "magenta azul azul";
}

#red {
  background-color: red;

  grid-area: rojo;
}

#green {
  background-color: green;

  grid-area: verde;
}

#blue {
  background-color: blue;

  grid-area: azul;
}

#magenta {
  background-color: magenta;

  grid-area: magenta;
}

#yellow {
  background-color: yellow;

  grid-area: amarillo;
}

@media (min-width: 600px) {
  main {
    grid-template-areas:
      "azul verde magenta"
      "azul verde magenta"
      "amarillo amarillo rojo";
  }
}
