# Archivos de sistema
.DS_Store
.Trash/
Thumbs.db
desktop.ini

# Archivos de configuración y caché
.gitconfig
.bashrc
.zsh_history
.npm/
.ssh/
.vscode/
.idea/
node_modules/

# Imágenes y archivos temporales
*.png
*.jpg
*.jpeg
*.webp
*.webloc

# Otros directorios del sistema
/Applications/
/Library/
/Movies/
/Music/
/Pictures/
/Public/
# Ignorar archivos de sistema y personales
.DS_Store
.Trash/
*.log
*.png
*.jpeg
*.webloc
*.docx
Applications/
Downloads/
Documents/
Library/
Movies/
Music/
Pictures/
Public/# Ignorar archivos y carpetas no relacionadas con el Bootcamp
*.docx
*.log
*.jpeg
*.png
*.webloc
*.sh
.Trash/
.DS_Store
.vscode/
.npm/
.ssh/
.viminfo
.zsh*
Applications/
Downloads/
Documents/
Library/
Movies/
Music/
Pictures/
Public/
Telegram/
WhatsApp/
