* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: black;
  color: white;
  height: 8rem;

  display: flex;

  justify-content: center;
  align-items: center;
}

main {
  height: 50vh;
  border: 2px solid;

  display: grid;

  grid-template-columns: 150px auto 25% 1fr;
  grid-template-rows: 50px 2fr 1fr 25%;

  grid-auto-columns: 75px;

  grid-auto-flow: row;
}

p {
  border: 1px solid blue;
  background-color: rgba(0, 0, 255, 0.319);

  /* width: 100px; */
}

p:nth-child(2) {
  grid-column-start: span 2;

  grid-column-end: 5;

  /* lo mismo */
  grid-column: 1 / span 2;
}

p:nth-child(5) {
  /* grid-column: -2; */
  grid-column-end: -1;

  grid-row-start: span 3;
  grid-row-end: -1;
}

p:nth-child(7) {
  /* Todas estas opciones dan el mismo resultado */

  grid-column: 2 / 4;
  grid-column: 2 / span 2;
  grid-column: span 2 / 4;

  /* Ubicación respecto al final */
  grid-row: span 2 / -1;
  grid-row: -3 / -1;
  grid-row: -3 / span 2;

  /* Esta dependerá del tamaño de la cuadrícula explicita  */
  grid-row: 3 / -1;
}

p:nth-child(4) {
  grid-row: 3;
  grid-column: 1 / span 2;
}

p:nth-child(9) {
  grid-column: span 2;
}
