* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  color: white;
  background-color: black;
  height: 6rem;
  margin-bottom: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  border: 2px solid black;

  height: 50vh;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

p,
a {
  height: 7rem;
  width: 7rem;
  border: 1px solid blue;
}

p:nth-child(4) {
  /* font-size: 2rem; */

  order: 1;

  /* Sobreescribir align-items */
  align-self: flex-end;
}

p:nth-child(2) {
  order: 2;

  flex-shrink: 4;
  /* flex-grow: 2; */
}

p:nth-child(6) {
  order: -1;

  /* Cuánto encoge */
  flex-shrink: 0;

  /* Cuánto crece */
  flex-grow: 2;

  align-self: flex-start;
}

p:nth-child(7) {
  order: -2;

  flex-shrink: 2;

  flex-grow: 1;
}

/* main > * {
  flex-grow: 1;
  flex-shrink: 0;
}
 */

/* main > :nth-child(even) {
  align-self: flex-end;
}
 */
