/* Tiene el cursor encima */
h1:hover {
  color: blue;
}

:checked {
  width: 2rem;
  height: 2rem;
}

:first-of-type {
  border: 1px solid;
}

body :only-child {
  text-decoration: underline green;
}

p:first-child {
  color: blue;
}

p:last-child {
  color: green;
}

p:nth-child(4) {
  color: aqua;
}

p:first-of-type {
  text-decoration: underline;
}

p:last-of-type {
  font-style: italic;
}

p:nth-of-type(4) {
  text-shadow: 2px 2px 3px magenta;
}

p:nth-of-type(odd) {
  margin-left: 1rem;
}

/* Estilos en enlaces */

a {
  color: aquamarine;
}

a:visited {
  color: green;
}

a:link {
  color: blue;
}

a:focus {
  color: blueviolet;
}

a:hover {
  color: magenta;
}

a:active {
  color: red;
}

/* Excepciones */

li:not(.excepcion) {
  color: aquamarine;
}

/* .excepcion {
  color: initial;
} */

[href]:not([href*="wikipedia"]) {
  font-family: sans-serif;
}
