/* Que tenga el atributo */
[title] {
  text-decoration: underline;
}

[data-author] {
  font-style: italic;
}

/* Que tenga un atributo con un valor en específico */
[lang="en"] {
  color: green;
}

[data-author="Zoe"] {
  color: blue;
}

[id="tituloPrincipal"] {
  color: blueviolet;
}

/* El valor empieza por... */
[href^="http"] {
  font-size: 0.8rem;
}

[class^="parrafo"] {
  font-family: sans-serif;
}

/* El valor termina por... */
[href$=".org"] {
  margin-left: 1rem;
}

/* Que contenga el valor... */
[href*="jsb43rt"] {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.403);
}
