p {
  color: blue;
  border: 1px solid;
  background-color: lightblue;

  /* Las 3 siguientes son lo mismo que la de arriba */

  /* Grosor de la línea */
  border-width: 1px;

  /* Estilo de la línea */
  /* Por defecto none */
  border-style: solid;

  /* Color de la línea */
  /* Por defecto currentColor */
  border-color: currentColor;
}

#id2 {
  border-color: red;

  /* La propiedad abreviada sobreescribe todas las individuales, incluso si no les damos valor (pondrá el por defecto) */
  border: 1px solid /* currentColor */;
}

#id3 {
  /* No hay borde */
  border: none;
}

#id4 {
  /* Mide 5px, es de puntitos y rojo */
  border: 5px dotted red;

  /* Lo mismo: */
  border-width: 5px;
  border-style: dotted;
  border-color: red;
}

#id5 {
  /* Mide 2px, es de rayitas y verde */
  border: 2px dashed green;
}

#id6 {
  border: 3px double;
}

#id7 {
  border: 3px outset;
}

#id8 {
  border-top: none;

  border-bottom: 5px solid;

  border-left-color: red;

  border-right-style: dotted;
}

#id9 {
  /* 2 valores = arriba-abajo / derecha-izquierda */
  border-width: 5px 10px;

  /* 3 valores = arriba / derecha-izquierda / abajo */
  border-style: dashed double solid;

  /* 4 valores = arriba / derecha / abajo / izquierda (sentido horario) */
  border-color: blueviolet green black red;
}

#id10 {
  /* Redondear esquinas */
  border-radius: 5px;
}

#id11 {
  height: 4rem;
  border-radius: 1rem;
}

#id12 {
  height: 4rem;
  border-radius: 25%;
}

#id13 {
  /* Si aplico border-radius de 50% a un cuadrado pèrfecto, sale un círculo perfecto */
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}

#id14 {
  border-radius: 10px;

  /* Podemos redondear una esquina en concreto */
  border-bottom-right-radius: 0;
}

#id15 {
  /* 2 valores =  arriba-izq+abajo-der / arriba-der + abajo-izq*/
  border-radius: 0 1rem;

  /* 3 valores = arr-izq / abajo-der / arr-der+abajo-izq */
  border-radius: 0 1rem 5px;

  /* 4 valores = sentido horario empezando por arr-izq */
  border-radius: 0 1rem 5px 2rem;
}
