@import url(/header.css);

body {
  margin: 0;
}

/* main {
  width: 80%;
} */

p {
  border: 3px dashed;
  background: lightblue;

  /* Ancho y alto */
  height: 20vw;
  width: 50%;

  /* Limites de ancho y alto */
  min-height: 40px;
  max-height: 150px;

  min-width: 150px;
  max-width: 250px;

  /* Margen: espacio entre elementos y hacia los bordes*/

  /* Podemos editar el margen de cada lado por separado */
  margin-top: 25px;
  margin-left: 20px;
  margin-bottom: 0;
  margin-right: 5px;

  /* Si solo se pone un valor, aplica a los 4 */
  margin: 15px;

  /* 2 valores = arriba+abajo / izquierda+derecha */
  margin: 10px auto;

  /* 3 valores = arriba / derecha+izquierda / abajo */
  margin: 15px auto 0;

  /* 4 valores = arriba / derecha / abajo / izquierda */

  margin: 15px 20px 0 10px;

  /* Padding: espaciado entre borde y contenido */

  /* Se puede aplicar a los distintos lados exactamente igual que el margin con la excepción de que no acepta auto */
  padding: 1rem;
}
