* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: black;
  color: white;
  height: 8rem;

  display: flex;

  justify-content: center;
  align-items: center;
}

main {
  height: 50vh;
  border: 2px solid;

  display: grid;

  grid-template-columns: 150px auto 25% 1fr;
  grid-template-rows: 50px 2fr 1fr 25%;
}

p {
  border: 1px solid blue;

  /* width: 100px; */
}
